#imageitself
{
  position: absolute;
  left: 15%;
  top: 10%;
  border-style: dotted;
  height: 500px;
  width: 300px;
}

#captionplace
{
  position: absolute;
  top: 5%;
  left: 15%;
  width: 300px;
}

#buttonplace
{
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 40px;
}
